body {
    direction: rtl; 
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #07288a;
}
header div {
    text-align: center; 
    font-size: 1.5em; 
    color:white;
}
header div a {
    text-decoration: none;
    color: white;
}
header div a:not(:last-child)::after {
    content: "•"; 
    margin: 20px; 
    color:#FB6F60;
}
footer {
    background-color: #07288a; /* רקע כהה */
    color: white; /* צבע טקסט */
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FB6F60; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #FB6F60;
}

.footer-section form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-section form button {
    background-color: #FB6F60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section form button:hover {
    background-color: #FF7A70;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
