/* עיצוב כללי לכל האתר */
body {
    direction: rtl; 
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #07288a;
}

header div {
    text-align: center; 
    font-size: 1.5em; 
    color: white;
}

header div a {
    text-decoration: none;
    color: white;
}

header div a:not(:last-child)::after {
    content: "•"; 
    margin: 20px; 
    color: #FB6F60;
}


/* עיצוב פוטר */
footer {
    background-color: #07288a; /* רקע כהה */
    color: white; /* צבע טקסט */
    padding: 20px 0;
}

footer h3 {
    color: #FB6F60;   
}


.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FB6F60; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a, a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover, a:hover{
    color: #FB6F60;
}

.footer-section form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-section form button {
    background-color: #FB6F60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section form button:hover {
    background-color: #FF7A70;
}

.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 עמודות שוות בגודל */
    column-gap: 5px; /* מרחק קטן בין העמודות */
    row-gap: 10px; /* מרחק קטן בין השורות */
    justify-items: center; /* מיקום התמונות במרכז */
    align-items: center;
    width: 150px; /* מגדיר רוחב כולל עבור כל ה-grid */
    margin: 0 auto; /* ממרכז את הקבוצה */
}

.social-icons a img {
    width: 50px; 
    height: 50px;
    padding: 5px; /* רווח פנימי */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* צל לתמונות */
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.1); /* אפקט הגדלה בהצבעה */
}


